In [1]:
list = [1, 2, 3, 'a', 'b']
print(list)

[1, 2, 3, 'a', 'b']

In [2]:
list.append(225)
print(list)

[1, 2, 3, 'a', 'b', 225]

In [3]:
print(list[0:
          ])

[1, 2, 3, 'a', 'b', 225]

In [4]:
print(list[2:])

[3, 'a', 'b', 225]

In [10]:
print(list[-1:])

[225]

In [11]:
print(list[::-1])

[225, 'b', 'a', 3, 2, 1]

In [12]:
print(list.pop(0))

1

In [15]:
print(list.pop())

225

In [16]:
print(list.reverse())

None

In [17]:
print(list)

['b', 'a', 3, 2]

In [21]:
list.append(2555)

In [22]:
print(list)

['b', 'a', 3, 2, 2555]

In [24]:
list1 = [1, 5, 6, 8, 6]
print(max(list1))

8

In [26]:
print(min(list1))

1

In [32]:
size = int(input())
li = []
for i in range(0, size):
    li.append(i)
    print(li)

20
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [33]:
size = int(input())
li = []
for i in range(0, size):
    li.append(i)
print(li)

20
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [36]:
tupp = (1, 2, 4, 0)

print(tupp)

(1, 2, 4, 0)

In [38]:
print(type(tupp))

<class 'tuple'>

# 25-07-2018 9.45am

In [2]:
t = ()
name = input()
add = input()
age = int(input())
t = (name, add, age)
print(t)

ashutosh
chennai
20
('ashutosh', 'chennai', 20)

In [3]:
t1 = (1, 3)
t2 = (2, 5)
print(t1+t2)

(1, 3, 2, 5)