In [ ]:
# list = [1, 2, 3, 'a', 'b']
print(list)

In [2]:
list.append(225)
print(list)

[1, 2, 3, 'a', 'b', 225]

In [3]:
print(list[0:
          ])

[1, 2, 3, 'a', 'b', 225]

In [4]:
print(list[2:])

[3, 'a', 'b', 225]

In [10]:
print(list[-1:])

[225]

In [11]:
print(list[::-1])

[225, 'b', 'a', 3, 2, 1]

In [12]:
print(list.pop(0))

1

In [15]:
print(list.pop())

225

In [16]:
print(list.reverse())

None

In [17]:
print(list)

['b', 'a', 3, 2]

In [21]:
list.append(2555)

In [22]:
print(list)

['b', 'a', 3, 2, 2555]

In [24]:
list1 = [1, 5, 6, 8, 6]
print(max(list1))

8

In [26]:
print(min(list1))

1

In [32]:
size = int(input())
li = []
for i in range(0, size):
    li.append(i)
    print(li)

20
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [33]:
size = int(input())
li = []
for i in range(0, size):
    li.append(i)
print(li)

20
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [36]:
tupp = (1, 2, 4, 0)

print(tupp)

(1, 2, 4, 0)

In [38]:
print(type(tupp))

<class 'tuple'>

# 25-07-2018 9.45am

In [2]:
t = ()
name = input()
add = input()
age = int(input())
t = (name, add, age)
print(t)

ashutosh
chennai
20
('ashutosh', 'chennai', 20)

In [3]:
t1 = (1, 3)
t2 = (2, 5)
print(t1+t2)

(1, 3, 2, 5)

# 30-07-2018 05.45pm

In [1]:
str1 = 'hello'
print(str.capitalize(str1))

Hello

In [9]:
str2 = '9854621'
str3 = '85hello'
print(str1.isdigit())
print(str2.isdigit())
print(str3.isdigit())
print(str1.find(str2))
print(str1.find(str3))
print(str2.find(str3))
print(str3.find(str1))
str3.find(str2)

False
True
False
-1
-1
-1
2

-1

In [8]:
x = 1
y = 2
x == y

False

In [14]:
i = 4.0
j = 1
print(type(i))
type(j)

<class 'float'>

int

# 03-08-2018 08.45am

In [1]:
s = 'morning'
[ c*2 for c in s ]

['mm', 'oo', 'rr', 'nn', 'ii', 'nn', 'gg']

In [2]:
sl = ['eve', 'night', 'dawn']
s.endswith('ing')

True

In [3]:
'***'.join(sl)

'eve***night***dawn'

In [4]:
ord('A')

65

In [5]:
list((map(ord,s)))

[109, 111, 114, 110, 105, 110, 103]

In [6]:
ord('5')

53

In [15]:
list(map(ord, s))

[109, 111, 114, 110, 105, 110, 103]

In [17]:
c = "a:\pith"
c

'a:\\pith'

In [18]:
bin(1)

'0b1'

In [19]:
bin(258)

'0b100000010'

In [22]:
a = 'ashutosh'
a.center(16, '-')

'----ashutosh----'

In [23]:
'%d %s' %(1, 'ashutosh')

'1 ashutosh'

In [24]:
'this is {0} {1} bird!'.format(1, 'dead')

'this is 1 dead bird!'

In [25]:
'{1} {0}'.format('one', 'two')

'two one'

In [6]:
a  = str(input())
b = a[1:]

d = b.replace(a[0],'$')
c = a[0]+ d
print(b)
print(c)

google
oogle
goo$le

In [ ]:
b = int(input())
a = list(input())
for i in range(0, b):
    a.append()
    a.sort()
print(a)